@import "tailwindcss";

body {
    background-color: #F8F5F0;
    font-family: "Montserrat", sans-serif;

}



span{
  background: linear-gradient(270deg, #92400E 10%, #DF8908 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.active hr{
    @apply block
}

::-webkit-scrollbar{
    overflow: hidden;
}

@media(max-width: 740px) {
    .active p{
        @apply bg-black text-white
    }
}

