@import "tailwindcss";


body {
    background-color: #F8F5F0;
    font-family: "Montserrat", sans-serif;

}

@custom-variant hover (&:hover);

.active {
  @apply block text-amber-700;
}

span{
  background: linear-gradient(270deg, #92400E 10%, #DF8908 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .active hr{
    @apply block
} */

::-webkit-scrollbar{
    overflow: hidden;
}


